<div id="footer-wrapper">
           <div id="nav-bar-small" class="w3-row">
               <div class="w3-col s3">Home <br><i  class="fas fa-home"></i> </div>
               <div class="w3-col s3">Cart <br><i class="fas fa-shopping-cart"></i><sup>3</sup> </div>
               <div class="w3-col s3">Support <br><i class="fas fa-headset"></i> </div>
               <div class="w3-col s3">My Account <br><i class="fas fa-user"></i></div>

           </div>

           <div id="footer-content">
            <ul style="list-style-type: none;padding: 0px;">
                <li class="footer-item"> <span class="footer-title">Quick Links</span>
                    <ul>
                        <li>Samsung</li>
                        <li>Oppo</li>
                        <li>Tecno</li>
                        <li>Laptop</li>
                        <li>Laptop Accessories</li>
                     </ul>
                </li>
                <li  class="footer-item"><span class="footer-title">Important Information</span>
                    <ul><li >About Us</li>
                         <li>Contact Us</li>
                          <li>Privacy Policy</li>
                        <li>Terms and Conditions</li> </ul>
                <li  class="footer-item"><span class="footer-title"> Our Location</span>
                    <ul><li >
                        BIGHOUSE BUILDING <br>
                        P.O BOX 123 <br>
                        NAIROBI
                    </li></ul>
                </li>
                <li  class="footer-item"><span class="footer-title">Contact Us</span>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                     </ul>
                </li>
            </ul>
           </div>

        </div>
    </div>
