{% load static %}
<html lang="en">

<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static '/styles/w3.css' %}">
    <link rel="stylesheet" href="{% static '/styles/mobile-view.css' %}">
     <link rel="stylesheet" href="{% static '/styles/large-screen.css' %}">
     <link rel="stylesheet" href="{% static '/styles/large-screen.css' %} ">
     <script defer src="{% static '/images/fontawesome-free-5.13.0-web/js/solid.js' %}"></script>
     <script src="{% static '/images/fontawesome-free-5.13.0-web/js/fontawesome.js' %}"></script>
     <script src="{% static '/scripts/script.js' %}"></script>
</head>

{% block content %}
<body>
<div id="page-wrapper">
        <div id="content-wrapper">
            <div id="sticky-content">
                {% include 'eshopping/navbar.html' %}

                <div id="categories-section" >
                    <ul >
                        <li style="cursor: pointer;"> <a href="{% url 'product_list' %}">All Categories</a> </li>
                        <li style="cursor: pointer;"> <a href="{% url 'product_list' %}">Samsung</a></li>
                        <li style="cursor: pointer;"><a href="{% url 'product_list' %}">Oppo</a></li>
                        <li style="cursor: pointer;"><a href="{% url 'product_list' %}">Tecno</a> </li>
                        <li style="cursor: pointer;"><a href="{% url 'product_list' %}">Laptops</a></li>
                        <li style="cursor: pointer;"><a href="{% url 'product_list' %}">Laptop Accessories</a></li>
                    </ul>
                </div>
                <div id="highlight-banner" class="w3-display-container">
                <a href="view-product.html">
                <img src="{% static '/images/offer.jpg' %}" alt="Images">
                </a>
                <button class="w3-black w3-large w3-round-xlarge w3-display-right">> </button>
            </div>
            <div id="highlight-section" class="w3-row">
                <div class="w3-col s6 w3-border w3-border-gray" id="new-arrivals">
                    <div class="w3-panel w3-center" style="text-decoration:underline;font-weight: bold;"> New Arrivals <i style="color: green;" class="fas fa-star"></i> </div>
                            {% for item in items %}
                        <div class="w3-row">
                            <div class="w3-card-2 w3-col s12 m6 product-item l6 w3-hover-pale-yellow">

                                <a href="{{item.get_absolute_url}}">
                                <img src="{% static '{{item.display_image.url}}' %}" alt="{{item.product_name}} " >
                                </a>

                                 <div class="w3-panel">
                                    <span class="w3-small item-cat-title">{{item.product_name}} <i class="fas  favo-icon  fa-bookmark" style="color:darkgoldenrod;"></i> </span> <br>
                                     <span class="new-price w3-small">Kes {{item.price}}<br></span>
                                     <span class="prev-price w3-small"><strike></strike><br></span>
                                     <a href="{{item.get_add_to_cart_url}}">
                                         <button class="w3-border w3-hover-green w3-hover-text-black  w3-btn w3-border-green ">Add To Cart <i class="fas fa-shopping-cart  w3-text-green"></i> </button>
                                    </a>

                                     <a href="{{item.get_add_to_favourite_url}}">
                                         <button class="w3-border w3-hover-green w3-hover-text-black  w3-btn w3-border-green ">Add To Favorite <i class="fas fa-heart  w3-text-green"></i> </button>
                                    </a>
                                 </div>
                                {% endfor %}
                            </div>


                    </div>

                </div>
                <div id="top-deals"  class=" w3-col s6 w3-border w3-border-gray ">
                    <div class="w3-panel   w3-center" style="text-decoration:underline;font-weight: bold;">Top Deals <i style="color: orange;" class="fas fa-fire"></i> </div>
                    <div class="w3-row">
                        <div class="w3-card-2 w3-col s12 m6 l6 w3-hover-pale-yellow">
                                <img src="{% static '/images/Samsung/J7.jpg' %}" alt="J7" >
                            </a>

                             <div class="w3-panel">
                                <span class="w3-small item-cat-title"> Samsung J7 <i class="fas favo-icon  fa-bookmark" style="color:darkgoldenrod;"></i> </span> <br>
                                 <span class="new-price w3-small"> Kes 24,999<br></span>
                                 <span class="prev-price w3-small"><strike>Kes 29,999</strike><br></span>
                                 <button class="w3-button w3-hover-green w3-hover-text-black w3-white w3-border w3-border-back w3-text-green w3-small w3-center">Add to Cart <i class="fas fa-shopping-cart"></i></button>

                             </div>
                        </div>
                        <div class="w3-card-2 w3-col s12 l6 m6 w3-hover-pale-yellow" >
                            <img src="{% static '/images/Tecno/pop 3.jpg' %}" alt="Pop 3" >
                            </a>
                             <div class="w3-panel">
                                <span class="w3-small item-cat-title">Tecno Pop 3<i class="fas favo-icon  fa-bookmark" style="color:darkgoldenrod;"></i></span> <br>
                                 <span class="new-price w3-small">Kes 7,999<br></span>
                                 <span class="prev-price w3-small"> <strike>Kes 9,999</strike><br></span>
                                 <button class="w3-button w3-hover-green w3-hover-text-black w3-white w3-border w3-border-back w3-text-green w3-small w3-center">Add to Cart <i class="fas fa-shopping-cart"></i></button>

                             </div>
                        </div>


                    </div>
                </div>
            </div>
                {% include 'eshopping/footer.html' %}
        </div>
    </div>
</div>

 </body>
 {%endblock%}

</html>