<html lang="en">
<head>
    {% extends 'eshopping/index.html' %}
    {% load static %}
</head>
    {% block content %}

<body>

    <div id="page-wrapper">
        <div id="content-wrapper">
            <div id="sticky-content">
                {% include 'eshopping/navbar.html' %}

                <div id="sub-options" class="w3-row w3-border">
                <div class="w3-col s5">
                    <div class="w3-panel products-count w3-center w3-small">{{count}} products found</div>
                 </div>
               <div class="w3-col w3-center w3-margin-top w3-margin-bottom w3-border  s4">
                  <div class="filteritem">
                      <select class="w3-input w3-center w3-small" name="filterBy" id="filterBy">
                          <option value="">--Filter By --</option>
                          <option value="">Price</option>
                          <option value="">Shipping Price</option>
                      </select>

                    </div>
                 </div>
               <div class="w3-col s3 w3-center w3-margin-top">
                <div id="filterArrows" class="w3-border">
                    <i  id="filter-desc" class="fas  fa-arrow-down"></i>
                    <i class="fas fa-arrow-up"></i>
                </div>

               </div>
            </div>

           <div id="products-section" class=" w3-margin-top">
                <div class="w3-row w3-margin-bottom ">
                    <div class="w3-col s4 m3 l3 product-item w3-border">
                        {% for item in items %}
                       <img src="{{item.display_image.url}}" class="w3-margin-top" alt="{{item.product_name}}">
                        <div class="w3-panel item-cat-overview" >
                           <span class="w3-small item-cat-title">{{item.product_name}} <i class="fas favo-icon fa-bookmark"></i> </span> <br>
                            {% if item.discount_price %}
                           <span class="new-price w3-small"> Kes {{item.discount_price}}<br></span>
                           <span class="prev-price w3-small" ><strike>Kes {{item.price}}</strike><br></span>
                            {% else %}
                            <span class="new-price w3-small"> Kes {{item.price}}<br></span>
                            {% endif %}


                            <a href="{{item.get_add_to_cart_url}}">
                                <button class="w3-border w3-hover-green w3-hover-text-black  w3-btn w3-border-green ">Add To Cart <i class="fas fa-shopping-cart  w3-text-green"></i> </button>
                            </a>
                           </div>
                        {% endfor %}
                       </div>

                </div>
           </div>
            </div>
                 {% include 'eshopping/footer.html' %}
        </div>
    </div>
</body>

    {% endblock %}

</html>